
.popup {
  position: absolute;
  inset: 0;
  place-content: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__opened {
  display: grid;
}

.popup__form {
  position: relative;
  width: 282px;
  height: 322px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

.popup__form-title {
  width: 100%;
  font-family: Inter;
  font-size: 18px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  background-color: #ffffff;
  margin-bottom: px;
  margin-top: 20px;
}

.popup-close {
  position: absolute;
  top: 170px;
  right: 8px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  border: none;
}

.popup-close:hover {
  opacity: 0.7;
}

.popup__input {
  width: 100%;
  height: 26px;
  font-size: 14px;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: white;
  box-sizing: border-box;
}

.popup__input:hover {
  border-bottom-color: #000;
}

.popup__input:focus {
  border-bottom-color: #007DFF;
}

.popup__input:valid {
  border-bottom: 1px solid green;
}

.popup__input:invalid {
  border-bottom: 1px solid red;
}

.popup__input-error {
  width: 100%;
  height: 16px;
  font-size: 11px;
  line-height: 1.2;
  background-color: white;
  color: red;
  margin-bottom: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.popup__button {
  width: 100%;
  height: 46px;
  margin-top: 30px;
  color: #ffffff;
  background-color: #000;
  border: none;
  border-radius: 2px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.popup__button:hover {
  opacity: 0.7;
}

.popup__button_disabled {
  opacity: 0.1;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .popup__form {
    width: 380px;
    height: 280px;
    padding: 30px 40px;
  }

  .popup__form-title {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 0px;
  }

  .popup-close {
    width: 40px;
    height: 40px;
    top: 190px;
    right: 145px;
  }

  .popup__input {
    font-size: 16px;
    margin-top: 5px;
  }

  .popup__input-error {
    font-size: 12px;
    width: 280px;
    height: 16px;
    margin-bottom: 5px;
  }

  .popup__button {
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__form {
    width: 430px;
    height: 330px;
    padding: 40px 50px;
  }

  .popup__form-title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .popup-close {
    width: 40px;
    height: 40px;
    top: 258px;
    right: 380px;
  }

  .popup__input {
    font-size: 18px;
  }

  .popup__input-error {
    font-size: 12px;
  }

  .popup__button {
    height: 50px;
    font-size: 16px;
  }
}
